@import "tailwindcss";

/* Reset */
* {
  box-sizing: border-box;
}

/* Full page control */
html {
  scroll-behavior: smooth;
}
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Body base */
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f8fafc; /* slate-50 */
  color: #0f172a; /* slate-900 */
}
